body {
    font-size: .8em;
}

.clearfix {
    overflow:auto;
}
header {
    text-align: center;
}
header img {
    max-width: 110px;
        margin-left: 50px
}

div.headings {
    display: inline-block;
    text-align: center;
}
header h1 {
    color: blue;
    font-family: arial;
    margin: 0;
    font-size: 1.2em;
    display: inline;
}

.subheading {
    color: 
    font-family: arial;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 20px;
}

nav {
    background-color: lightgray;
    font-family: arial;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: blue;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    justify-content: center;
}

li.active {
    background-color: gray
}

nav ul a:hover {
    background-color: gray;
}

main h3 {
    color: black;
    font-family: arial;
    font-size: 1.3rem 2%;
    text-align: center;
}

main figure {
    margin: 0;
}

section.hero {
    position: relative;
}

img.town {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 200px;
}

div#summary {
    background-color: lightgray;
    opacity: 0.7;
    position: absolute;
    top: 13em;
    left: 125px;
    padding: 10px;
    top: 15px
    left: 20px;
    box-shadow: 0 4px 8px 0;
    width: 150px;
}

div#summary h3 {
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 4px gray;
}

div#summary p {
    font-family: arial;
    padding-bottom: 5px;
    margin: 0;
}

.forecast {
    display: none;
}

article {
    background-color: gray;
    border: 2px solid;
    margin: 20px;
    font-family: arial;
    font-size: 1em;
    line-height: 1.3em;
    padding: .8rem 2%;
}

article h3 {
    font-family: Arial;
    color: black;
    margin: 0;
    font-size: 1em;
}

article img{ 
    display: block;
    margin: 10px auto;
    max-width: 300px;
}

footer {
    margin-top: 100px;
    margin-bottom: 20px;
}

.footer-img {
    display: none;
}

footer aside {
    font-family: arial;
    color: black;
    background-color: gray;
    text-align: center;
}